@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.add {
  width: 100%;
  margin: 0 auto;
  margin-top: 5em;
  @include shadow;
  animation: animateContainer 1s ease-out;
  animation-fill-mode: both;

    &__heading {
        width: 100%;
        font-size: 3em;
        font-weight: 400;
        color: $c-blue;
        margin: 0 0 1em;
        text-align: center;
    }

    &__form {
        background-color: $c-panelbackground;
        border: 1px solid $c-panelbackground;
        margin: auto;
        padding: 1em;

        &-select {
          width: 100%;
          font-size: 1.5em;
          cursor: pointer;
          outline:none;
          border: none;
          -webkit-appearance: none;
          -webkit-border-radius: 0px;
          @include shadow;
          color: $c-grey;
        }
    }

    input {
      width: 100%;
      font-size: 1.5em;
      cursor: pointer;
      outline: none;
      border: none;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      @include shadow;
      color: $c-grey;

      &:focus{
        &:valid {
          color: $c-green;
        }
        &:invalid {
          color: $c-error;
        }
      }
    }

    select {
      &:focus {
        &:valid {
          border-color: $c-green;
        }
        &:invalid {
          border-color: $c-error;
        }
      }
    }

    label {
      font-size: 1.5em;
      font-weight: 400;
    }

    &__submit {
      margin-left: 15px;
      border-radius: 0 !important;
      @include shadow;
      background-color: $c-blue;
      border: none;
    }
}
