@import 'mixins/fonts';
@import 'mixins/list-reset';
@import 'mixins/typography';

.boardgroup {
  padding: 4em;

  &__content {
    display: flex;
    justify-content: center;
    margin: 0 0 2em;
  }

  &__list {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  &__item {
    width: 25%;
    display: flex;
    margin-right: 1em;
    flex-direction: column;
    align-items: center;
    list-style-type: none;

    &:last-child {
      margin: 0;
    }
  }

  &__choice {
    text-decoration: none;
    width: 10em;
    height: 6.25em;
    border: .25em solid #6d6969;
    transition: transform .2s ease, border .2s ease;
    display: flex;
    margin: 0 0 .5em;

    &:hover {
      transform: scale(1.05);
    }

    &.selected {
      border: 4px solid #E02F65;

      span {
        color: #e02f65;
      }
    }

    @include screen(xhuge) {
      width: 12em;
      height: 8em;
    }

    @include screen(xjumbo) {
      width: 14em;
      height: 10em;
    }

    span {
      @include font(source, light);
      font-size: 1.2em;
      margin: auto;
      display: block;
    }
  }

  &__button {
    @include font(source, light);
    margin: 0 auto;
    display: block;
    font-size: 1.2em;
    border-radius: 6px;
    margin: 0 auto;
    padding: .5em 1em;
    background: transparent;
    border: 1px solid black;
    color: black;
    outline: none;
    transition: background .25s ease, color .25s ease;

    &:hover {
      background: $c-darkblue;
      color: white;
    }

  }
}
