@import '../config/sizes';

.column {
  border-right: 1px solid #E5DCDC;
  border-bottom: 1px solid #E5DCDC;

  &--story, &--theme, &--effort {
    width: $column-1;
    background: #f5f7ff;

    .cards__item {
      //margin: 0 auto;
    }
  }

  &--effort {
    display: flex;
  }

  &--to-do, &--in-progress, &--done, &--open, &--closed {
    .cards {
      &__item {
        transition: transform .1s ease;

        &:hover {
          transform: scale(1.050);
        }
      }
    }
    .card {

      &--story {
          cursor: move;
      }
    }
  }

  /* STORIES & THEMES STACKED CARDS */

  &--theme, &--story, &--effort {
    .cards {
      &__list {
        justify-content: center;
      }
    }
  }

  &--theme, &--story, &--open, &--closed {

    //.cards__item {
    //    &:before {
    //      content: '';
    //      background-color: $card-bg-color;
    //      position: absolute;
    //      width: 100%;
    //      height: 100%;
    //      z-index: 1;
    //      top: 0;
    //      left: 0;
    //      box-shadow: 0 1px 2px rgba(48,59,77,.67);
    //      transform: translate(-50%, -50%);
    //      transform: scale(.8);
    //      top: -2em;
    //    }
    //
    //    &:after {
    //      content: '';
    //      background-color: $card-bg-color;
    //      position: absolute;
    //      width: 100%;
    //      height: 100%;
    //      z-index: 2;
    //      top: 0;
    //      left: 0;
    //      box-shadow: 0 1px 3px rgba(48,59,77,.67);
    //      transform: translate(-50%, -50%);
    //      transform: scale(.9);
    //      top: -1em;
    //    }
    //}
  }

  &--to-do {
    width: $column-2;
  }

  &--in-progress {
    width: $column-3;
  }

  &--done {
    width: $column-4;
  }

  &--open {
    width: $column-open;
  }

  &--closed {
    width: $column-closed;
  }
}
