@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.export {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);

  @include screen(large) {
    animation: animateTop 0.8s ease-out;
    animation-fill-mode: both;
  }

  &__item {
    width: 25%;
    min-width: 300px;
    height: 500px;
    flex: 0;
    position: relative;
    text-align: center;
    border-radius: 6px;
    margin: 0 0 2em;

    &:last-child {
      margin: 0;
    }

    @include screen(simple) {
      margin: 0;
    }

    &.active {

      & .export__link{
      opacity: 1;
      visibility: visible;
      }
    }
  }

  &__image {
    font-size: 7.5em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $c-blue;
    color: white;
    text-align: center;
    position: relative;
    margin: 0.2em 25px 0;
    transition: all 0.2s ease;
    @include shadow;

    &.image1 {
      background-color: $c-voedselbank;
    }

    &.image2 {
      background-color: $c-leergeld;
    }

    &.image3 {
      background-color: $c-gold;
    }

    &.image4 {
      background-color: $c-green;
    }

    & > i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__description {
    width: 300px;
    height: 280px;
    bottom: 0;
    padding: 100px 5% 0 5%;
    text-align: center;
    color: $c-blue;
    line-height: 1.5;
    position: absolute;
    background-color: $c-white;
    border-radius: 30px;
    z-index: -1;
    @include shadow;

    & > h2 {
      font-size: 2em;
    }
  }

  &__form {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;

    &-select {
      width: 90%;
      text-align-last: center;
      font-size: 1.5em;
      cursor: pointer;
      outline: 0;
      padding: .3em;
      margin-bottom: 20px;
      -webkit-appearance: none;
      -webkit-border-radius: 0;

      background-color: $c-blue;
      color: $c-white;
      border: none;
      @include shadow;
    }
  }

  &__link {
    opacity: 0;
    visibility: hidden;
    width: 90%;
    font-size: 1.5em;
    transition: opacity 0.25s ease-in;
    outline: 0 !important;
    padding: .3em;
    font-size: 1.5em;
    outline: 0;
    border-radius: 0 !important;

    background-color: $c-blue;
    color: white;
    border: none;
    @include shadow;
  }
}

@keyframes animateTop {
  0% {
    margin-top: 10em;
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
