@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation: animateOpacity 1s ease-out;
  animation-fill-mode: both;

  &__container {
    height: 500px;
    width: 500px;
    margin-top: 10%;
    position: absolute;
    border-radius: 30px;
    color: $c-white;
    background-color: $c-blue;
    @include shadow;

    &__top {
      display: block;
      width: 100%;

      & > img {
        display: block;
        margin: 70px 140px 0;
        width: 220px;
      }
    }

    &__middle {
      background-color: $c-gold;
      position: absolute;
      bottom: 50px;
      width: 100%;
      height: 150px;
      font-size: 1.8em;

      &__description {
        width: 80%;
        position: relative;
        margin: 8% auto;
        display: block;
        text-align: center;
        font-size: 1em;
        color: $c-white;
      }
    }

    &__bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      border: none;
      text-align: center;
      line-height: 34px;
      border-radius: 0.2em;
      font-size: 1.8em;
      color: #FFF;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;

      &:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 20%;
        left: 0;
        width: 34px;
        height: 60%;
      }

      &:focus {
        outline: none;
      }

      &:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
      }

      &__google {
        /*font-family: "Roboto", Roboto, arial, sans-serif;*/
        background: #DD4B39;
      }

      &:before {
        border-right: #BB3F30 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
      }

      &:hover {
        background: #E74B37;
      }

      &:focus {
        background: #E74B37;
      }
    }
  }
}

@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
