@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.message {
  padding: 1em 0;
  width: 50%;
  text-align: center;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.loading {
  }

  &.error {
    .message__text {
      color: $c-error;
    }
  }

  &__text {
    font-size: 2em;
    color: $c-green;

    & > i {
      padding-right: .5em;
    }
  }
}

.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 400px;
  overflow: show;
  margin: auto;
  top: 100px;
  left: 100px;
  bottom: 0;
  right: 0;
}

.spinner > div {
  width: 100px;
  height: 100px;
  background-color: $c-white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
