@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.navbar {
  background-color: $c-blue;
  height: 100px;
  color: $c-white;
  margin: 0;
  border: 0;
  border-radius: 0;
  @include shadow;
  z-index: 9999;

  &-collapse {
    @media only screen and (max-width: 768px) {
      border: 0;
      box-shadow: none;
      background-color: #87ceea;
      color: $c-white;
      @include shadow;

      .search {
        display: none;
      }

      .navbar {
        &__imagearrow {
          display: none;
        }

        &__image {
          font-size: 1.8em;
          width: 100%;
          box-shadow: none;
          background-color: none;
          border-radius: 0;
          color: $c-white;

          &:hover {
            background-color: none;
          }

          & > i {
            display: none;
            position: static;
            transform: none;
          }
        }

        &__right {
          margin: 1.5em 3em 0;
        }

        &__active {
          & > .navbar__link {
            background-color: $c-mintgreen;

            &:hover {
              background-color: inherit;
            }
          }
        }

        &__link {
          position: static;
          text-indent: initial;
          text-decoration: none;
          line-height: 2.8;
          display: inline-block;
          background-color: #87ceea;
          transition: background-color .2s ease;

          &:hover {
            color: $c-white;
            background-color: $c-blue;
          }
        }
      }
    }
  }

  &-header {
    height: 100px;
    // @include shadow;
  }

  &-toggle {
    margin-top: 1em !important;
    border: 0;
    cursor: pointer;
    background-color: $c-white !important;

    &[aria-expanded="true"] {
      background: $c-mintgreen !important;

      & > .icon-bar {
        background-color: $c-white !important;
        border: 0;
      }
    }

    &:hover {
      background: $c-mintgreen !important;
      color: $c-white !important;

      & > .icon-bar {
        background-color: $c-white !important;
        border: 0;
      }
    }
  }

  .icon-bar {
    width: auto;
    background-color: $c-blue !important;
  }

  &__right {
    // display: none;
    margin: 2.5em 3em 0;
    // @media only screen and (min-width: 980px) {
    //   display: block;
    // }
    // @include screen(simple) {
    //   display: block;
    // }
  }

  &__logo {
    width: 12em;
    display: inline-block;
    padding-top: 0.5em;
    margin-left: 3em;
    z-index: 99999;
  }

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }

  &__active {
    background-color: $c-mintgreen !important;
    color: $c-white !important;
  }

  &__image {
    font-size: 2em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $c-white;
    color: $c-blue;
    text-align: center;
    position: relative;
    margin: 0 0.5em 0.2em;
    transition: background-color .2s ease;
    @include shadow;

    &:hover {
      background-color: $c-mintgreen;
      color: $c-white;
    }

    & > i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__signout {
    &:hover {
      background-color: $c-error !important;
    }
  }

  &__imagearrow {
    font-size: 3em;
    width: 25px;
    height: 50px;
    border-radius: 50%;
    color: $c-white;
    text-align: center;
    position: relative;
    padding: 0.2em;
  }
}

.search-input {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 50px;
  border-radius: 25px !important;
  background-color: $c-white;
  border: none;
  text-align: center;
  outline: none;
  font-size: 2em;
  width: 50px;
  height: 50px;
  color: $c-blue;
  text-align: center;
  position: relative;
  margin: 0 0.5em 0.2em;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 2;
  @include shadow;
  display: none;
  @media only screen and (min-width: 1050px) {
    display: block;
  }

  &:hover {
    background-color: $c-mintgreen;
    color: $c-white;
  }

  &:focus {
    width: 300px;
    text-align: left;
    padding: 1em;
    box-shadow: none !important;
    @media only screen and (min-width: 1350px) {
      width: 600px;
    }
  }
}

::-webkit-input-placeholder {
  /* Chrome */
  color: $c-blue;
}

input:focus::-webkit-input-placeholder {
  color: $c-white;
}

input:hover::-webkit-input-placeholder {
  color: $c-white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $c-blue;
}

input:focus:-moz-placeholder {
  color: $c-white;
}

input:hover:-moz-placeholder {
  color: $c-white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $c-blue;
  opacity: 1;
}

input:focus::-moz-placeholder {
  color: $c-white;
}

input:hover::-moz-placeholder {
  color: $c-white;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: $c-blue;
  opacity: 1;
}

input:focus:-ms-input-placeholder {
  color: $c-white;
}

input:hover:-ms-input-placeholder {
  color: $c-white;
}
