.overview {
  &--projects {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 2em;

    @include screen(xlarge) {
      padding: 0;
      justify-content: center;
    }
  }

  &__item {
    list-style-type: none;
    width: 16.75em;
    height: 16.75em;
    margin: .5em;
    animation: animateTop 1s ease-out;
    animation-fill-mode: both;
    opacity: 0;

    @include screen(xlarge) {
      width: 19.75em;
      height: 19.75em;
    }

    &:nth-child(1) {
      animation-delay: .25s;
    }

    &:nth-child(2) {
      animation-delay: .5s;
    }

    &:nth-child(3) {
      animation-delay: .75s;
    }

    &:nth-child(4) {
      animation-delay: 1s;
    }

    &:nth-child(5) {
      animation-delay: 1.25s;
    }
  }
}

@keyframes animateTop {
  0% {
    margin-top: 4em;
  }
  100% {
    opacity: 1;
    margin-top: 1em;
  }
}
