@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.project {
  background: #FFFFFF;
  height: 100%;
  position: relative;
  margin: 0;
  width: 100%;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);

  &:hover {
    .project {
      &__logo {
        img {
          transform: scale(1.1);
        }
      }
      &__info {
        background-color: #3869a7;
      }
    }
  }

  &__overview {
    background-color: #f9f9f9;
  }

  &-overview {
    padding: 1em 0;
    @include screen(xlarge) {
      padding: 2em 0;
    }
  }

  &__logo {
    width: 100%;
    height: 75%;
    text-align: center;
    display: flex;

    img {
      margin: auto;
      transition: transform .3s ease;
    }
  }

  &__info {
    background-color: #35404E;
    box-sizing: border-box;
    color: white;
    padding: .8em;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: background-color .25s;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: .8em;
      transform: translateY(-50%);
      background-image: url('../svg/icons/arrow--right.svg');
      background-size: 18px 18px;
      height: 18px;
      width: 18px;
    }
  }

  &__title {
    margin-bottom: .6em;
    font-size: 1em;

    @include screen(xlarge) {
      font-size: 1.17em;
    }
  }

  &__iteration {
    @include font(source, light);
    font-size: .9em;
    font-weight: 300;
  }

  &__link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    span {
      display: none;
    }
  }
}
