@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';
@import '../mixins/list-reset';


.table {

  &__results {
    background: #d9edf7;
    border: none;
    margin: 0 0 3em;

    &:last-child {
      margin: 0;
    }

    th {
      font-size: 1.5em;
      background: $c-panelbackground;
      border: none;
      padding: .8em !important;
    }

    tr {
      border: none;
      transition: background .1s ease-in;

      &.highlighted {
        background: #f5f5f5;
      }

      th {
        border: none !important;
      }
    }

    td:first-child {
      width: 250px;
    }

    td:last-child {
      width: 80px;
    }

    td {
      text-align: left;
      font-size: 1.5em;
      border: none;
      cursor: pointer;
      vertical-align: middle !important;
      padding: .8em !important;
    }
  }

  &__settings {
      background: #d9edf7;
      border: none;

      th {
        font-size: 1em;
        background: $c-panelbackground;
        border: none;
        padding: .8em !important;
      }

      tr {
        border: none;
        transition: background .1s ease-in;

        th {
          border: none !important;
          padding: 1em 2.5em !important;
        }
      }

      td {
        text-align: left;
        font-size: 1em;
        border: none;
        cursor: pointer;
        vertical-align: middle !important;
        padding: 2.5em !important;
      }
  }
}

.results {
  width: 100%;
  margin: 5em auto;
  animation: animateContainer 1s ease-out;
  animation-fill-mode: both;

  &__head {
    @include list-reset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
  }

  &__heading {
    width: 100%;
    font-size: 3em;
    font-weight: 400;
    color: $c-blue;
    margin: 0 0 1em;
    text-align: center;
  }

  &__subheading {
    width: 100%;
    font-size: 2em;
    font-weight: 400;
    color: $c-black;
    margin: 1em 0;
    text-align: center;
  }


  &__checkbox {

    margin: 0 .2em 0;

    input {
      position: relative;
      z-index: -9999;
      display: none;
    }

    input:checked + span {
      position: relative;

      &:after {
        font-family: FontAwesome;
        content: "\f00c";
        color: $c-blue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    span {
      width: 18px;
      height: 18px;
      border: 1px solid $c-blue;
      border-radius: 4px;
      display: block;
    }
  }

  &__edit {
    font-size: 1.5em;
    color: #356b86;
  }

  .nav-tabs {
    background-color: $c-white;
    padding: 1em 1em 0 1em;
    @include shadow;

    .nav-item {
      font-size: 1.7em;
      text-decoration: none;
      color: $c-black;
      border-radius: 0;

      &.active {
        & > a {
          background: $c-grey--lightest;
          color: $c-blue;
        }
      }
    }

    .nav-link {
      border: none !important;

      &:hover {
        background: $c-grey--lightest;
        color: $c-blue;
        border: none;
      }
    }
  }

  .tab-content {
    background-color: $c-white;
    max-height: 60vh;
    padding: 1em;
    overflow: auto;
    @include shadow;
  }

  .tab-pane {
    position: relative;
  }

  &__settingsform {
      background-color: $c-panelbackground;
      margin: auto;
      padding: 0 1em;
      font-size: 1.5em;
      text-align: center;

      .slider {
        width: 100% !important;
      }
  }
}

#slider-2, {
  .slider-selection {
    background: $c-blue;
  }
  .slider-handle {
    background: $c-mintgreen;
  }
  .tooltip-inner {
    background: $c-mintgreen;
  }
  .tooltip-arrow {
    border-top-color: $c-mintgreen;
  }
}
