@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/list-reset';
@import '../mixins/typography';

.search {
    position: relative;

    &-input {
      font-family: "Arial", FontAwesome;
    }

    &__results {
        display: none;

        &__list {
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            background: $c-white;
            width: 600px;
            display: block;
            color: $c-black;
            font-size: 1.4em;
            @include list-reset();
            z-index: 1;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        &__item {
            position: relative;

            &:first-child {
              margin-top:  30px;
            }

            &:last-child {
              margin-bottom: 25px;
            }
        }

        &__link {
            display: block;
            text-decoration: none;
            padding: 1.5em;
            background: $c-white;

            &:hover {
                &:after {
                    color: $c-white;
                }
            }

            &:after {
                font-family: FontAwesome;
                content: "\f040";
                position: absolute;
                color: $c-black;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                // border: none;
            }

            &:hover {
                background: $c-mintgreen;
                text-decoration: none;
                color: $c-white;
            }
        }
    }
}
