@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.site {
    width: 100%;
    height: auto;
    min-height: calc(100% - 100px);
    position: relative;
    z-index: 1;
}
