@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.upload {
  width: 100%;
  @include shadow;
  animation: animateContainer 0.5s ease-out;
  animation-fill-mode: both;

  &__heading {
    width: 100%;
    font-size: 3em;
    font-weight: 400;
    color: $c-blue;
    margin: 0 0 1em;
    text-align: center;
  }

  & > form {
    background-color: $c-panelbackground;
    border: 1px solid $c-panelbackground;
    padding: 1em;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-submit {
      font-size: 1.5em;
      outline: 0;
      border-radius: 0 !important;
      @include shadow;
      background-color: $c-blue;
      border: none;
      color: white;
    }

    &-select {
      width: 200px;
      text-align-last: center;
      font-size: 1.5em;
      cursor: pointer;
      outline: 0;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      @include shadow;
      background-color: $c-blue;
      border: none;
      color: $c-white;
    }
  }

  &__area {
    width: 100%;
    position: relative;
    overflow: scroll;

    input[type=file] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }

    &:hover .upload__dummy {
      background-color: $c-grey--light;
      padding-top: 200px;
    }
  }

  &__dummy {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 175px;
    float: left;
    border: none;
    text-align: center;
    transition: background 0.3s ease-in-out;
    background-color: $c-grey--lightest;
    height: 425px;
    font-size: 1.5em;
    overflow: scroll;
    color: $c-grey;
    transition: all 0.25s ease;
    @include shadow;

    span {
      .fa {
        font-size: 5em;
        color: $c-blue;
      }
    }

    &__content {
      width: 0;
      float: right;
      border: none;
      text-align: left;
      transition: background 0.3s ease-in-out;
      background-color: $c-grey--lightest;
      height: 425px;
      font-size: 1.5em;
      overflow: scroll;
      transition: all 0.25s ease;
      @include shadow;
      p {
        font-size: 1em;
      }
      i {
          font-size: 2em;
          color: $c-green;
      }
      
    }
  }
}
@keyframes animateContainer {
  0% {
    margin-top: 15em;
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 5em;
  }
}
