@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

.wizard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px);
    padding: 2em 5em;
    width: 100%;

    @include screen(large) {
      padding: 0 5em;
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
        width: 350px;
        height: 550px;
        max-width: 350px;
        margin: 0 0 4em;
        position: relative;
        animation: animateTop 0.8s ease-out;
        animation-fill-mode: both;

        @include screen(large) {
          padding: 0;
        }

        &:hover {
            .wizard__image {
                font-size: 17em;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 0;
        margin: 0 0 4em;
        width: auto;
        padding: 0;
        color: $c-blue;
        text-align: center;
        position: relative;
        animation: animateTop 0.8s ease-out;
        animation-fill-mode: both;
        transform: rotate(90deg);
        color: $c-blue;

        @include screen(large) {
          transform: rotate(0);
          display: block;
          top: -130px;
        }

        & > i {
            font-size: 10em;
        }
    }

    &__image {
        font-size: 15em;
        width: 300px;
        height: 300px;
        margin: auto;
        border-radius: 50%;
        background-color: $c-blue;
        color: white;
        text-align: center;
        position: relative;
        // margin: 5px 50px 0;
        transition: all 0.2s ease;
        z-index: 0;
        @include shadow;

        & > i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
    }

    &__description {
        width: 100%;
        height: 250px;
        padding: 3em 1em 1em;
        box-shadow: 2px 4px 8px 0 rgba(46,61,73,0.2);
        text-align: center;
        font-size: 2em;
        color: $c-blue;
        margin-top: -50px;
        line-height: 1.5;
        background-color: $c-white;
        border-radius: 30px;
        z-index: -2;
        @include shadow;
    }
}

@keyframes animateTop {
    0% {
        margin-top: 15em;
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}
