@import '../config/colors';
@import '../config/sizes';
@import '../mixins/fonts';
@import '../mixins/typography';

* {
  box-sizing: border-box;
}

body {
  background: #d04f90 url("../../assets/images/background.png")  no-repeat;
  background-size: cover;
}

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  @include typography(body);
  font-size: $base-font-size;
}

h1 {
  @include typography(h1);
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

h2 {
  @include typography(h2);
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

h3 {
  @include typography(h3);
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

h4 {
  @include typography(h4);
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

h5 {
  @include typography(h5);
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

h6 {
  @include typography(h6);
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

hr {
  border: 0;
  border-top: 1px solid $c-grey--light;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

p {
  @include typography(p);
}

dt {
  @include font(lato, bold);
  font-size: 1.2rem;
  margin: 1rem 0 0.3rem;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

blockquote {
  @include typography(h3);
  display: block;
  margin-bottom: 2rem;
  position: relative;

  p {
    &::before {
      content: open-quote;
      margin-right: 2px;
    }

    &::after {
      content: close-quote;
      margin-left: 2px;
    }
  }
}

figure {
  margin-bottom: 1.5rem;
}

figcaption {
  @include font(arial, regular);
  background: $c-grey--lightest;
  font-size: 0.8rem;
  padding: 0.625rem 0.8rem;
  text-align: center;
}

legend {
  @include font(lato, bold);
  font-size: 1.5rem;
  text-transform: uppercase;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

table,
td,
th {
  border: 1px solid lightgrey;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #333;
  width: 100%;
}

td,
th {
  border: 1px solid $c-grey--light;
  height: 30px;
}

th {
  font-weight: 700;
  background: $c-grey--light;
  font-weight: bold;
}

td {
  text-align: center;
}

code,
kbd,
pre,
samp {
  @include font(monospace, light);
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  display: block;
  background: $c-grey--lightest;
  padding: 1rem;
}

mark {
  background-color: $c-yellow;
}

ins {
  text-decoration: underline;
}
