/* Main color */
$c-green: #15A95A;
$c-gold: #E6BA20;
$c-blue: #1caee8;
$c-lightblue: #91B7E3;
$c-purple: #A447F5;
$c-red: #EB4444;
$c-yellow: #FFEC00;
$c-orange: #E8830C;
$c-mintgreen: #d04f90;
$c-panelbackground: #ffffff;

$c-voedselbank: #ee7501;
$c-leergeld: #ab10d2;


$c-white: #ffffff;
$c-black: #000000;
$c-grey: #999999;
$c-grey--darkest: #191919;
$c-grey--darker: #2f343b;
$c-grey--mid: #333333;
$c-grey--light: #e5e5e5;
$c-grey--lightest: #f1f1f1;

$c-pink: #e91e63;
$c-darkblue: #35404e;

/* Card priority colors */
$c-low: #64FC6B;
$c-med: #E7EA2D;
$c-high: #D41111;

$card-bg-color: #ffffff;

/* Group column colors */
$c-story: #1662a3;
$c-theme: #679929;
$c-effort: #35404e;

$c-task: #009FC2;
$c-impediment: #13aa84;

// Funny
$c-orange: #FC8D15;
$c-orange--darker: #FF5500;

// Treat
$c-red: #FF6088;
$c-red--darker: #C9325E;

/* Validation */
$c-error: #f44336;

/* Social */
$c-facebook: #385396;
$c-twitter: #08abee;
$c-linkedin: #3aa7e0;
$c-google: #d84e44;
