// SCREENSIZES
$screen-minimal: 480px;
$screen-simple: 48em; // 768px
$screen-normal: 64em; // 1024px
$screen-large: 1280px;
$screen-xlarge: 1440px;
$screen-huge: 1680px;
$screen-xhuge: 120em; // 1920px
$screen-jumbo: 160em; // 2560px
$screen-xjumbo: 240em; // 3840px

// FONT SIZES
$base-font-size: 1em;

// SITE
$w-site: 87.5em;
$site-header-height: 8em;

// CONTAINER
$w-container: 940px;
$p-container: 55px;
$p-container--small: 24px;

// COLUMNS
$column-1: 15%;
$column-2: 35%;
$column-3: 35%;
$column-4: 15%;

$column-open: 42.5%;
$column-closed: 42.5%;

// CARDS
$card-width: 10.15em;
$card-height: 10.15em;

$card-width-jumbo: 10.25em;
$card-height-jumbo: 10.25em;

$card-title-font-size: 1em;
$card-effort-font-size: .9em;
$card-type-font-size: .6em;

// ASSIGNEES
$assignee-width: 3.125em;
$assignee-height: 3.125em;

// VEGAS SLIDER
$vegas-timer-progress-height: .4em;
