@mixin font($font, $weight) {
  @if $font == source {
      font-family: 'Source Sans Pro', sans-serif;
  } @else if $font == arial {
      font-family: 'Arial', sans-serif;
  } @else if $font == serif {
      font-family: serif;
  } @else if $font == monospace {
      font-family: 'monospace';
  }

  @if $weight == light {
      font-weight: 300;
  } @else if $weight == regular {
      font-weight: 400;
  } @else if $weight == bold {
      font-weight: 700;
  }
}
