@mixin screen($size) {
     @if $size == minimal{
        @media only screen and (min-width: $screen-minimal) {
             @content;
        }
    }
    @else if $size == simple {
         @media only screen and (min-width: $screen-simple){
            @content;
        }
    }
    @else if $size == normal {
         @media only screen and (min-width: $screen-normal){
            @content;
        }
    }
    @else if $size == large {
         @media only screen and (min-width: $screen-large){
            @content;
        }
    }
    @else if $size == xlarge {
         @media only screen and (min-width: $screen-xlarge){
            @content;
        }
    }
    @else if $size == huge {
         @media only screen and (min-width: $screen-huge){
            @content;
        }
    }
    @else if $size == xhuge {
         @media only screen and (min-width: $screen-xhuge){
            @content;
        }
    }
    @else if $size == jumbo {
         @media only screen and (min-width: $screen-jumbo){
            @content;
        }
    }
    @else if $size == xjumbo {
         @media only screen and (min-width: $screen-xjumbo){
            @content;
        }
    }
    @else {
         @media only screen and (min-width: $size){
            @content;
        }
    }
}
