@mixin typography($size) {
  @if $size == h1 {
      @include font(source, regular);
  } @else if $size == h2 {
      @include font(source, light);
  } @else if $size == h3 {
      @include font(source, regular);
  } @else if $size == h4 {
      @include font(source, light);
  } @else if $size == p {
      @include font(source, regular);
      font-size: 1rem;
      line-height: 1.8;
      // margin-bottom: 1.5rem;
  } @else if $size == body {
      @include font(source, regular);
  } @else {
      font-size: 1rem;
      line-height: 1.2;
  }
}
